﻿@using NimbusFox.Staxel.Host.Web
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        @* Must always be last to be called *@
        <script>
            document.title = "@Context.GetPageTitle()";
        </script>
    </body>
</html>
